.App {
  text-align: center;
  margin: auto;
  width: auto;
  border: solid 3px #ccc;
}

.input-container {
  border: solid 3px #ccc;
  padding: 0 8px;
  margin: 24px;
  max-width: 400px;
  position: relative;
}
.input-container input {
  border: none;
  font-size: 16px;
  outline: 0;
  padding: 16px 0 10px;
}

label {
  position: absolute;
}